@use "@/styles/variable.scss" as v;

.categoryLayout {
  display: grid;
  grid-template-columns: 295px 1fr;
  gap: 24px;
  margin-bottom: 200px;
  align-items: start;
  padding-left: 50px;
  padding-right: 50px;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
    padding-left: 0;
    padding-right: 0;

    .sidebar {
      // position: static;
      max-height: fit-content;
    }
  }
}

.mainContent {
  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

    h2 {
      font-family: v.$font-heading;
      font-size: 32px;
    }
    .meta {
      display: flex;
      align-items: center;
      gap: 12px;
      font-size: 16px;
      padding-left: 10px;
      color: rgba(0, 0, 0, 0.6);
      strong {
        color: #000;
      }
    }

    .mobileFilterBtn {
      display: none;
      @media (max-width: 1024px) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background: #f0f0f0;
        border-radius: 50%;
        border: none;
        cursor: pointer;
      }
    }
  }

  .productGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      padding: 0 10px;
    }
  }
}

.divider {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 32px 0;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .navBtn {
    padding: 8px 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: #fff;
    font-weight: 500;
    cursor: pointer;
  }
  .pages {
    display: flex;
    gap: 8px;
    align-items: center;
    button {
      width: 40px;
      height: 40px;
      border-radius: 8px;
      border: none;
      background: transparent;
      cursor: pointer;
      &.activePage {
        background-color: rgba(0, 0, 0, 0.06);
      }
    }
  }
}
