.breadcrumb {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  
  &::before {
    content: "";
    position: absolute;
    top: 0;
    
    left: 50px;
    right: 50px;

    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  margin: 0;
  padding: 24px 0 24px 50px;
  font-size: 16px;

  @media (max-width: 1024px) {
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 16px 0;
    font-size: 14px;

    &::before {
      left: 16px;
      right: 16px;
    }
  }

  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      color: #000;
    }
  }

  span {
    color: #000;
    font-weight: 500;
  }
}
